<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>UV Sensor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class > 
  <div *ngIf="!particle.token">
      Please login and select a device. <br />
      <button ion-button (click)="login()">Login</button>
  </div>
  <div *ngIf="particle.token && particle.device">
      <h3></h3>
      <div>
          <h5>Safe UV Level</h5>
          <p>
            Anything below 3 is safe, so in this case it is not completely necessary to apply sunscreen.
          </p>
          <p *ngIf="!particle.device || !particle.device.connected">If the UV level is above 3, make sure to apply suncreen.</p>
          <p *ngIf="particle.device && particle.device.connected">The UV level at which you should wear sunscreen is anything greater than or equal to 3. 
          </p>
      </div>
      <div>
          <h5>Current UV Reading</h5>
          <p> <!--
            You can subscribe to variables by calling <code>particle.pollVariable</code>.
          --></p>
          <p>
            The current UV level is {{uv}}
          </p>
      </div>
      <div>
          <h5>Why is this important?</h5>
          <p>
            Skin cancer is gradually becoming more prevalent in our United States communities. Recent statistics show 20% of people are diagnosed with skin cancer in their lifetimes. Wearing sunscreen can drastically lessen this number. 
          </p>
      </div>
      <div> <!--
        <h5>Calling functions</h5>
        <p>
            You can call device functions with <code>particle.callFunction</code>
        </p>
        <button ion-button (click)="particle.callFunction('fun1')">Call a function</button> -->
      </div>
  </div>
</ion-content>
